<!DOCTYOE html>
<html>
<head>
    <title>Rango</title>
</head>

<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <strong>Pages:</strong>
                <ul>
                    {% for page in pages %}
                        <li><a href="{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>This category is empty</strong>
            {% endif %}
        {% else %}
            This category doesnt exists!
        {% endif %}
        <a href="/">Home</a>
    </div>
</body>
</html>