{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <strong>Pages:</strong>
            <ul>
                {% for page in pages %}
                    <li><a href="{{page.url}}">{{page.title}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>This category is empty</strong>
        {% endif %}
        <a href="{% url 'rango:add_page' category.slug %}">Add page to this category</a>
    {% else %}
        This category doesnt exists!
    {% endif %}
{% endblock %}
