{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="col-sm-6">
			{% if categories %}
			<div class="list-group">
				<h2 div class="list-group">Most Liked Categories</h2>
				
				
					{% for category in categories %}
						
							<a class="list-group-item" href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
					
					{% endfor %}
				</div>
			</div>
		{% else %}
			<strong>There are no categories present</strong>
		{% endif %}
		<div class="col-sm-6">
		{% if pages %}
				<div class="list-group">
				<h2 class="list-group-item-heading">Most Viewed Pages</h2>
				
					{% for page in pages %}
					<a class="list-group-item" href="{{ page.url }}">{{ page.title }}</a>
					{% endfor %}
				</div>
		{% else %}
			<strong>There is no pages yet</strong>
		{% endif %}
		</div>

		<img src='{% static "images/guitar.jpeg"%}'
			 alt="electro guitar"/>
	</div>
{% endblock %}

