{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<div class="container">
	<h1>Login to Rango</h1>

	<form id="login_form" method="post" action="{% url 'rango:login' %}">
		{% csrf_token %}
		<div class="form-group">
		<label for="username">Username:</label>
		<input type="text" class="form-control" id="username"name="username" value="" size="50" />
		</div>

		<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="pwd" name="password" value="" size="50" />
		</div>

		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
{% endblock %}

